* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: whitesmoke;
}

img {
  width: 100%;
}

.note-app {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
}

.note-app__header {
  display: flex;
  align-items: center;
  padding: 32px 0;
}

.note-app__header h1 {
  font-weight: normal;
  font-size: 32px;
  flex: 1;
}

.navigation ul li {
  display: inline-block;
  padding: 16px;
}

.navigation ul li a {
  font-size: 28px;
  color: black;
}

.note-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));

  gap: 1em;
  margin-top: 16px;
}

.note-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 16px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1); /* */
}

.note-item__image img {
  width: 64px;
  border-radius: 50%;
}

.note-item__body {
  margin-left: 8px;
  padding-left: 8px;
  border-left: 1px solid #aaa;
  flex: 1;
  font-size: 14px;

  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

.note-item__date {
  font-size: 12px;
  color: oklch(55.1% 0.027 264.364);
}

.note-item__title {
  font-size: 16px;
  padding: 4px 0;

  color: oklch(21% 0.034 264.665);
}

.note-item__username {
  font-weight: lighter;
}

.note-item__delete {
  padding: 8px;
  font-size: 28px;
  color: red;
  background-color: transparent;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.note-input {
  border: 2px dashed black;
  padding: 16px;
  margin: 14px 0;
  border-radius: 8px;
  margin-bottom: 32px;
}

.note-input input {
  display: block;
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  font-family: "Inter", sans-serif;
}

.note-input button {
  width: 100%;
  padding: 8px;
  font-family: "Inter", sans-serif;
}

.search-bar {
  display: block;
  width: 100%;
  margin: 16px 0;
  padding: 12px;
  background-color: transparent;
  font-family: "Inter", sans-serif;
  border: 2px dashed black;
  border-radius: 4px;
}


.note-delete-container{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.note-detail-actions{
  display: flex;
  gap: 16px;
  position: absolute;
  bottom: 32px;
  right: 32px;
  width: auto;
}

.delete-note-button{
  
  padding: 8px;
  font-size: 28px;
  background-color: transparent;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  max-width: 56px;
}
